<ul class="list view--widht">
  <li>
    <img
      class="img-coffesymbols"
      src="../../assets/espresso.svg"
      alt="Cup with Espresso"
    />
    <span>Espresso</span>
    <img
      class="img-arrow"
      src="../../assets/arrowright.svg"
      alt="Arrow right"
    />
  </li>
  <li>
    <img
      class="img-coffesymbols"
      src="../../assets/cappuccino.svg"
      alt="Cup with Cappucino"
    />
    <span>Cappuccino</span>
    <img
      class="img-arrow"
      src="../../assets/arrowright.svg"
      alt="Arrow right"
    />
  </li>
  <li>
    <img
      class="img-coffesymbols"
      src="../../assets/macciato.svg"
      alt="Cup with Macchiato"
    />
    <span>Macchiato</span>
    <img
      class="img-arrow"
      src="../../assets/arrowright.svg"
      alt="Arrow right"
    />
  </li>
  <li>
    <img
      class="img-coffesymbols"
      src="../../assets/mocha.svg"
      alt="Cup with Mocha"
    />
    <span>Mocha</span>
    <img
      class="img-arrow"
      src="../../assets/arrowright.svg"
      alt="Arrow right"
    />
  </li>
  <li>
    <img
      class="img-coffesymbols"
      src="../../assets/latte.svg"
      alt="Cup with Latte"
    />
    <span>Latte</span>
    <img
      class="img-arrow"
      src="../../assets/arrowright.svg"
      alt="Arrow right"
    />
  </li>
</ul>
