.list-coffetyps {
  list-style-type: none;
  background: #faf4ee;
  width: 100%;
  padding: 0;
}

.list-coffetyps > li {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.img-coffesymbols {
  flex-basis: 90px;
}

.img-arrow {
  flex-basis: 20px;
}

.list-coffetyps > li > span {
  flex-grow: 1;
}
