<div class="navButton view--widht">
  <a>
    <img src="../../assets/NavButton/home.svg" alt="Home" class="home" />
  </a>
  <a>
    <img
      src="../../assets/NavButton/location.svg"
      alt="Location"
      class="location"
    />
  </a>
  <a>
    <img
      src="../../assets/NavButton/coffeCup.svg"
      alt="Cuffee Cup"
      class="coffeCup"
    />
    <span class="coffeNav__bage">1</span>
  </a>
  <a>
    <img
      src="../../assets/NavButton/profile.svg"
      alt="Profile"
      class="profile"
    />
  </a>
</div>
