.navButton {
  display: flex;
  width: 100vw;
  height: 96px;
  border-radius: 46px 46px 0 0;
  background: #fff;
  box-shadow: 0 2px 88px #fde9da;
  justify-content: space-around;
}

.navButton > button {
  border: none;
  background: transparent;
}
