<div class="navButton">
  <button>
    <img src="../../assets/NavButton/home.svg" alt="Home" class="home" />
  </button>
  <button>
    <img
      src="../../assets/NavButton/location.svg"
      alt="Location"
      class="location"
    />
  </button>
  <button>
    <img
      src="../../assets/NavButton/coffeCup.svg"
      alt="Cuffee Cup"
      class="coffeCup"
    />
  </button>
  <button>
    <img
      src="../../assets/NavButton/profile.svg"
      alt="Profile"
      class="profile"
    />
  </button>
</div>
