.title__page {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/bg.png");
  display: flex;
  justify-content: center;
}

.animation {
  animation-name: slidein;
  -webkit-animation: slidein 15s infinite;
}

@keyframes slidein {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
